img{
    border: 1px solid red;
}
 h1 {
    background-color: black;
    color: gray;
}   
h1 , h2{
    color: gray;
}   

.s > h2{
    border: solid green;
    } 
#mon > span {
       color: pink;
    }

 #mon > div span
  {
     border: red solid 2px;
 }
 #mon > div > span
  {
    background-color: yellow;
 }   

.w h2:hover{
    color: green;
}
.m h2:hover{
    color: red;
}
#tue h2:hover{
    color: red;
} 
  ul li:first-of-type{
      font-weight: bold ;
  }
  li:first-of-type + li {
      color: red;
  }
  #tue h2 + span ,
  #tue h2 + span + div,
 #tue div span:first-child{
      color: blue;
  }



  #tue span:nth-of-type(2),
  #tue span:nth-of-type(2) + div span { 
    font-size: 200%;
  }
  
li:nth-of-type(9){
    color: blue;
}
li:nth-of-type(5n+3){
    color: green;
}
    
  